---
import { Home, Twitter, Github } from "lucide-astro";
import ThemeToggle from "./UI/ThemeToggle.astro";
---

<nav
  class='relative flex flex-row justify-between bg-mantle p-2 px-20 after:absolute after:-bottom-1 after:right-1/2 after:h-px after:w-11/12 after:translate-x-1/2 after:bg-teal dark:group-data-[entry="main"]/body:bg-black'
>
  <div class="flex flex-row items-center justify-center">
    <a
      href="/"
      class="group/Home mr-20 flex items-center justify-center rounded p-2 hover:bg-teal"
    >
      <Home class="stroke-text group-hover/Home:stroke-black" />
    </a>
    <a
      href="https://github.com/StarlessNight13"
      class="group/Home flex items-center justify-center rounded p-2 hover:bg-teal"
    >
      <Github class="stroke-text group-hover/Home:stroke-black" />
    </a>
  </div>
  <ThemeToggle />
</nav>
